.square {
  /* height: 35px;
  width: 35px; */
  height: 25px;
  width: 25px;
  background-color: #dad7d7;
  border: 1px dotted #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
