.gear {
  height: 35px;
  width: 35px;
  font-size: 35px;
}

.gear:hover {
  animation-name: gear;
  animation-duration: 0.5s;
}
@keyframes gear {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(43deg);
  }
}
