.tools {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: auto 0;
  left: 0;
  text-align: center;
  background-color: rgb(231, 227, 227);
  align-items: center;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 15px;
  color: rgb(221, 71, 44);
}
.tools span {
  color: gray;
  font-size: 15px;
}
@media (max-width: 800px) {
  .tools {
    position: relative;
    right: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 15px;
  }
}
