.tools {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px 0 rgba(236, 232, 232, 0.5);
  background-color: white;
  align-items: center;
}
.tools > * {
  padding: 5px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  flex: 1;
  font-size: 30px;
  text-align: center;
}
.tools > *:not(:last-child) {
  border-right: 1px solid #585858;
}
.tools span {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #a0a0a0;
  font-weight: 600;
  border-top: 1px solid #585858;
}
.tool {
  height: 35px;
  width: 35px;
  cursor: pointer;
  color: #3a3939;
  transition: color 0.2s ease-in-out;
}
.tool:hover {
  color: #706f6f;
}
.pencil {
}
.tool-number {
  font-size: 15px;
  color: #a0a0a0;
  font-weight: 600;
  border-top: 1px solid #585858;
}
