.tools {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background-color: aliceblue;
  align-items: center;
  border: 1px solid white;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
.tools span {
  color: gray;
  font-size: 15px;
}
