.settingsMenu {
  background-color: #ececec;
  padding: 10px 15px 15px 5px;
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 7px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  color: rgb(2, 3, 2);
  z-index: 1;
  text-align: left;
  top: 50px;
  left: 0;
  margin-left: 10px;
  border: 1px solid rgb(170, 167, 167);
}
.custom {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.option-header {
  margin-bottom: 5px;
  padding-bottom: 3px;
  font-weight: bold;
  font-size: 17px;
  border-bottom: 1px solid rgb(170, 167, 167);
  color: rgb(2, 3, 2);
}
