.canvas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: fit-content;
  width: fit-content;
  border: 1px solid red;
  max-width: 1500px;
  max-height: 900px;
  overflow: hidden;
}
.palette-board {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  right: 0;
  background-color: rgb(173, 208, 238);
}
