.canvas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: fit-content;
  width: fit-content;
  max-width: 1500px;
  max-height: 900px;
  overflow: hidden;
}
.palette-board {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  right: 0;
  top: 0;
}
.tooltip {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 1;
}
@media (max-width: 800px) {
  .palette-board {
    bottom: 0;
    top: unset;
    flex-direction: row;
    grid-template-columns: repeat(5, 1fr);
  }
}
