.canvas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: fit-content;
  width: fit-content;
  border: 1px solid red;
  max-width: 1500px;
  max-height: 900px;
  overflow: hidden;
}
.palette-board {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
}
@media (max-width: 800px) {
  .palette-board {
    position: relative;
    right: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}
