* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #1f1f1f;
}
button {
  border: none;
  padding: 5px;
  font-size: 1.1rem;
  border-radius: 5px;
  background-color: #1f1f1f;
  color: aliceblue;
  cursor: pointer;
}
.center {
  text-align: center;
}
input[type="checkbox"] {
  width: 17px;
  height: 17px;
  margin-right: 3px;
}
input[type="color"] {
  width: 70px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.active-tool {
  color: crimson;
}
