* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #1f1f1f;
}
button {
  border: none;
  padding: 5px;
  font-size: 1.1rem;
  border-radius: 5px;
  color: #1f1f1f;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
button:hover {
  background-color: #2f2f2f;
  color: aliceblue;
}

.center {
  text-align: center;
}

/* customize inputs */
input[type="checkbox"] {
  width: 17px;
  height: 17px;
  margin-right: 3px;
  border-radius: 15px;
}

/* tool and tools */
.active-tool {
  background-color: #302f2f;
}
.tool {
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 30px;
  text-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: #777676;
  border-radius: 5px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
  gap: 3px;
  padding: 4px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
